/* width & height proeprty */
/* @media (max-width:1145px) {
    .box-1,
    .box-2 {
        width:300px;
        background-color: lime;
    }
}
@media (max-width:610px) {
    .box-1,
    .box-2 {
        width: 150px;
        height: 150px;
        background-color:mediumpurple;
    }
}
@media (max-width:480px) {
    .box-2 {
        display: none;
    }
}

@media (max-width:400px) {
    .box-2 {
        display:block;
    }
} */


/* Flex-wrap */
/* @media (max-width:1140px) {
    .box-1 {
        margin-bottom: 30px;
    }
    .wraper {
        justify-content: center;
    }
} */

/* Flex-direction */
@media (max-width:920px) {
    .wraper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-1,
    .box-2 {
        margin-bottom: 30px;
    }
}


/* @media (max-width:540px) {
    .wraper-images {
        justify-content: center;
    }
} */

@media (max-width:1095px) {
    /* .wraper-images {
        flex-direction: column;
        align-items: center;
    } */

    .box-image {
        width: 48%;
    }
}

@media (max-width:768px) {
    .navigation {
        display: none;
    }
    .burger-icon {
        display:block;
    }
}
@media (max-width:480px) {
    .box-image {
        width: 100%;
    }
}